<div id="<%= dom_id schedule %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= schedule.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Available at:</strong>
    <%= schedule.available_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Booked:</strong>
    <%= schedule.booked? ? "Yes" : "No" %>
  </div>
</div>
