<div id="<%= dom_id payment %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Appointment:</strong>
    <%= payment.appointment_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= payment.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= payment.amount %>
  </div>
</div>
